# .env файл для налаштування змінних середовища
# База даних 
# для контйнерів
DB_HOST=db
DB_PORT=5432
# для локального запуску
# DB_HOST=localhost
# DB_PORT=5435
DB_NAME=e_commerce_filmsdb
DB_USER=postgres
DB_PASSWORD=your_password_here
# Інші ключі
TMDB_API_KEY=your_api_token_here
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=3600